:root.dark {
  body {
  background-color: black;
  color: white;
  transition: background 0.5s, color 0.5s;
}

#Input {
  color: white;
  background-color: rgb(48, 48, 48);
  caret-color: rgb(255, 255, 255);
}

#Input:hover::placeholder {
  color: white;
}

}

:root.white {
  body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: background 0.5s, color 0.5s;
}

#Input {
  background-color: rgb(211, 211, 211);
  caret-color: rgb(0, 0, 0);
}


}

#app {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
}

#Nav {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  align-content: space-between;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}


#mainTitle {
  display: flex;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

#mainTitle h1 {
  margin-right: 10px;
  min-width: 10px;
  font-size: 5vw;
}
#arrowMainTitle {
  min-width: 10px;
  margin-right: 10px;
  width: 5vw;
}

#inputForm {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#Input {
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 250px;
  transition: background-color 0.2s;
  text-align: center;
}

#Input:hover {
  background-color: rgb(155, 214, 216);
  transition: background-color 0.2s;
}

#Input:hover::placeholder {
  color: black;
  transition: color 0.2s;
}

#Input:focus {
  outline: none;
}

#Search {
  border: none;
  outline: none;
  background-color: rgba(52, 152, 219, 0.8);
  border-radius: 8px;
  transition: background-color 0.2s, transform 0.1s
}
#Search:hover {
  background-color: rgb(155, 214, 216);
  cursor: pointer;
  transform: translateY(-3px);
  transition: background-color 0.2s, transform 0.1s;
}